.banner {
  text-align: center;
}

.banner__logo {
  height: 10em;
  background-color: #d5f5f7;
  border-radius: 50%;
  padding: 10px;
}

.banner__header {
  background-color: #222;
  height: calc(50vh + 100px);
  padding: 20px;
  color: white;
  padding-top: calc(50vh - 100px);
}

.banner__title {
  font-size: 1.33rem;
}
