@import '../../../assets/bonsai/_variables.scss';

.grid-example .row > div {
  background-color: $light-grey;
  border-radius: $border-radius;
  border: $standard-border-width solid #fff;
  text-align: center;
  padding: .33rem 0;
  margin-bottom: .66rem;
  font-size: .66rem;
  box-sizing: border-box;
  height: 1.66rem;
  max-height: 1.66rem;
}
