// requires typography partial import to extend
@import './_variables.scss';

$button-fill-color: $info;
$button-danger-color: $danger;
$text-shadow: 0px -0.05rem 0.33rem rgba(0, 0, 0, 0.4),
  0px 0.1rem 1.33rem rgba(0, 0, 0, 0.1), 0px 0.1rem 0.33rem rgba(0, 0, 0, 0.1);

.btn {
  display: inline-block;
  padding: $std-padding;
  color: #555;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $border-radius;
  border: 1px solid #a1a1a1;
  cursor: pointer;
  box-sizing: border-box;

  &:hover,
  &:focus {
    @extend .shadow-h;
    outline: 0;
  }

  &:active {
    @extend .shadow-l;
  }

  &[disabled] {
    background-color: #e0e0e0;
    border-color: darken(#e0e0e0, 3%);
    box-shadow: none;
    color: #fff;
    cursor: not-allowed;
  }

  &--fill,
  &--danger {
    color: #fff;
    &:hover,
    &:focus {
      text-shadow: $text-shadow;
    }
    &[disabled] {
      text-shadow: none;
    }
  }

  &--fill {
    background-color: $button-fill-color;
    border-color: darken($button-fill-color, 3%);

    &[disabled] {
      background-color: hsl(
        hue($button-fill-color),
        saturation($button-fill-color),
        88%
      );
      border-color: hsl(
        hue($button-fill-color),
        saturation($button-fill-color),
        85%
      );
    }
  }

  &--danger {
    background-color: $button-danger-color;
    border-color: darken($button-danger-color, 3%);

    &[disabled] {
      background-color: hsl(
        hue($button-danger-color),
        saturation($button-danger-color),
        88%
      );
      border-color: hsl(
        hue($button-danger-color),
        saturation($button-danger-color),
        85%
      );
    }
  }
}
