@import './_variables.scss';

.card {
  border: $standard-border;
  border-radius: $border-radius;
  background-color: #eaeaea;

  &__title {
    color: #fff;
    height: 3rem;
    border-radius: $border-radius - 1px $border-radius - 1px 0 0;
    background-color: $disabled-color;
  }

  &__title-text {
    margin: 0;
    padding: 0 1rem;
    position: relative;
    top: calc(100% - 2.5rem);
  }

  &__content {
    padding: 0 1rem;
  }
}
