// GRID SYSTEM
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


$columns: 12;

%float-styles {
  float: left;
}

@mixin col-x {
  @for $i from 1 through $columns {
      .col-#{$i} { @extend %float-styles; }
      .col-#{$i} {
        flex: 0 0 percentage($i/$columns);
        max-width: percentage($i/$columns);
      }
  }
}

@include col-x;

@mixin col-sm-x {
  @for $i from 1 through $columns {
      .col-sm-#{$i} {
        @include sm-device {
          flex: 0 0 percentage($i/$columns);
          max-width: percentage($i/$columns);
        }
      }
  }
}

@include col-sm-x;

@mixin col-md-x {
  @for $i from 1 through $columns {
      .col-md-#{$i} {
        @include md-device {
          flex: 0 0 percentage($i/$columns);
          max-width: percentage($i/$columns);
        }
      }
  }
}

@include col-md-x;

@mixin col-lg-x {
  @for $i from 1 through $columns {
      .col-lg-#{$i} {
        @include lg-device {
          flex: 0 0 percentage($i/$columns);
          max-width: percentage($i/$columns);
        }
      }
  }
}


@include col-lg-x;
