// GRID SYSTEM
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

$columns: 12;

%float-styles {
  float: left;
}

@mixin col-x {
  @for $i from 1 through $columns {
    .col-#{$i} {
      @extend %float-styles;
    }
    .col-#{$i} {
      flex: 0 0 to-fixed(percentage($i/$columns));
      max-width: to-fixed(percentage($i/$columns));
    }
  }
}

@include col-x;

@mixin sm-x {
  @for $i from 1 through $columns {
    .sm-#{$i} {
      flex: 0 0 to-fixed(percentage($i/$columns));
      max-width: to-fixed(percentage($i/$columns));
    }
  }
}

@include sm-device {
  @include sm-x;
}

@mixin md-x {
  @for $i from 1 through $columns {
    .md-#{$i} {
      flex: 0 0 to-fixed(percentage($i/$columns));
      max-width: to-fixed(percentage($i/$columns));
    }
  }
}

@include md-device {
  @include md-x;
}

@mixin lg-x {
  @for $i from 1 through $columns {
    .lg-#{$i} {
      flex: 0 0 to-fixed(percentage($i/$columns));
      max-width: to-fixed(percentage($i/$columns));
    }
  }
}

@include lg-device {
  @include lg-x;
}
