@import './_variables.scss';

.io {
  padding: .1rem;
  margin-bottom: .66rem;
}

.io__label {
  text-transform: uppercase;
  font-size: .66rem;
  letter-spacing: .1rem;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.io__control {
  display: block;
  border: #bbb solid 1px;
  border-radius: $border-radius;
  padding: .33rem .66rem;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  background-color: #fff;
  margin-top: .33rem;

  &[readonly] {
    padding-left: 0;
    border: none !important;
    cursor: not-allowed;
    &:hover, &:focus {
      box-shadow: none;
    }
  }
  &[disabled] {
    background-color: #e0e0e0;
    border-color: darken(#e0e0e0, 3%) !important;
    cursor: not-allowed;
    &:hover, &:focus {
      box-shadow: none;
    }
  }
}

.io__control, select {
  &:hover, &:focus {
    border: 1px solid $info;
    outline: 0;
    box-shadow: $shadow-lower-level;
  }
}

textarea {
  min-height: 65px;
  resize: vertical;
}
