.busy {
  width: 2em;
  height: 2em;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.busy::before {
  border-radius: 50%;
  content: ' ';
  width: 2em;
  height: 2em;
  display: inline-block;
  box-sizing: border-box;
  border: solid 0.3em #bfbfbf;
  position: absolute;
  top: 0;
  left: 0;
}

.busy::after {
  border-radius: 50%;
  content: ' ';
  width: 2em;
  height: 2em;
  display: inline-block;
  box-sizing: border-box;
  border-top: solid 0.3em $primary--rotate-60;
  border-right: solid 0.3em $primary--rotate-90;
  border-bottom: solid 0.3em transparent;
  border-left: solid 0.3em transparent;
  position: absolute;
  top: 0;
  left: 0;
  animation: busy 1s ease-in-out infinite;
}

@keyframes busy {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
