.pa0 {
  padding: $spacing-none;
}

.pa1 {
  padding: $spacing-small;
}

.pa2 {
  padding: $spacing-medium;
}

.pa3 {
  padding: $spacing-large;
}

.pl0 {
  padding-left: $spacing-none;
}

.pl1 {
  padding-left: $spacing-small;
}

.pl2 {
  padding-left: $spacing-medium;
}

.pl3 {
  padding-left: $spacing-large;
}

.pr0 {
  padding-right: $spacing-none;
}

.pr1 {
  padding-right: $spacing-small;
}

.pr2 {
  padding-right: $spacing-medium;
}

.pr3 {
  padding-right: $spacing-large;
}

.pb0 {
  padding-bottom: $spacing-none;
}

.pb1 {
  padding-bottom: $spacing-small;
}

.pb2 {
  padding-bottom: $spacing-medium;
}

.pb3 {
  padding-bottom: $spacing-large;
}

.pt0 {
  padding-top: $spacing-none;
}

.pt1 {
  padding-top: $spacing-small;
}

.pt2 {
  padding-top: $spacing-medium;
}

.pt3 {
  padding-top: $spacing-large;
}

.pv0 {
  padding-top: $spacing-none;
  padding-bottom: $spacing-none;
}

.pv1 {
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;
}

.pv2 {
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;
}

.pv3 {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
}

.ph0 {
  padding-left: $spacing-none;
  padding-right: $spacing-none;
}

.ph1 {
  padding-left: $spacing-small;
  padding-right: $spacing-small;
}

.ph2 {
  padding-left: $spacing-medium;
  padding-right: $spacing-medium;
}

.ph3 {
  padding-left: $spacing-large;
  padding-right: $spacing-large;
}

.ma0 {
  margin: $spacing-none;
}

.ma1 {
  margin: $spacing-small;
}

.ma2 {
  margin: $spacing-medium;
}

.ma3 {
  margin: $spacing-large;
}

.ml0 {
  margin-left: $spacing-none;
}

.ml1 {
  margin-left: $spacing-small;
}

.ml2 {
  margin-left: $spacing-medium;
}

.ml3 {
  margin-left: $spacing-large;
}

.mr0 {
  margin-right: $spacing-none;
}

.mr1 {
  margin-right: $spacing-small;
}

.mr2 {
  margin-right: $spacing-medium;
}

.mr3 {
  margin-right: $spacing-large;
}

.mb0 {
  margin-bottom: $spacing-none;
}

.mb1 {
  margin-bottom: $spacing-small;
}

.mb2 {
  margin-bottom: $spacing-medium;
}

.mb3 {
  margin-bottom: $spacing-large;
}

.mt0 {
  margin-top: $spacing-none;
}

.mt1 {
  margin-top: $spacing-small;
}

.mt2 {
  margin-top: $spacing-medium;
}

.mt3 {
  margin-top: $spacing-large;
}

.mv0 {
  margin-top: $spacing-none;
  margin-bottom: $spacing-none;
}

.mv1 {
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
}

.mv2 {
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
}

.mv3 {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}

.mh0 {
  margin-left: $spacing-none;
  margin-right: $spacing-none;
}

.mh1 {
  margin-left: $spacing-small;
  margin-right: $spacing-small;
}

.mh2 {
  margin-left: $spacing-medium;
  margin-right: $spacing-medium;
}

.mh3 {
  margin-left: $spacing-large;
  margin-right: $spacing-large;
}
