.switch {
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 1rem;
}

.switch__outer {
  display: inline-block;
  height: 25px;
  min-width: 50px;
  vertical-align: middle;
  margin: auto 0.6rem;
}

.switch__graphic {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 25px;
  width: 50px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 100px;
  border: 1px solid transparent;
  background-color: #999;
  cursor: pointer;
  -webkit-transition: all 0.36s;
  transition: all 0.36s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .switch__input:checked ~ & {
    background-color: $info;
    & .switch-inner::after {
      content: '\2713 '; // checkmark
    }
  }

  .switch__input[disabled] ~ & {
    background-color: #ccc;
  }
  .switch__input[disabled] ~ &::after {
    content: '\1F512'; // padlock
    font-size: 0.6rem;
    text-align: center;
  }
}

.switch__input {
  height: 25px;
  width: 50px;
  margin: 0;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.switch__graphic:after {
  position: absolute;
  width: 21px;
  height: 21px;
  left: 1px;
  top: 1px;
  border-radius: 18px;
  background-color: #fff;
  content: ' ';
  cursor: pointer;
  -webkit-transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);

  .switch__input:checked ~ & {
    transform: translateX(25px);
  }
}

.switch-inner {
  color: #fff;
  font-size: 15px;
  margin-left: 9px;
  margin-right: 6px;
  display: block;
}
