html {
  line-height: 1.5rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

%font-spacing-style {
  letter-spacing: 0.1rem;
  font-weight: 300;
}

@for $i from 1 through 4 {
  .f#{$i} {
    @extend %font-spacing-style;
  }
}

// Type Scale

.f1 {
  font-size: $f1-font-size;
  line-height: $f1-font-size + 0.5rem;
}
.f2 {
  font-size: $f2-font-size;
  line-height: $f2-font-size + 0.5rem;
}
.f3 {
  font-size: $f3-font-size;
  line-height: $f3-font-size + 0.5rem;
}
.f4 {
  font-size: $f4-font-size;
  line-height: $f4-font-size + 0.5rem;
}
.f5 {
  font-size: $f5-font-size;
  line-height: $f5-font-size + 0.5rem;
}
.f6 {
  font-size: $f6-font-size;
  line-height: $f6-font-size + 0.5rem;
}
// Small and hard to read for many people so use with extreme caution
.f7 {
  font-size: $f7-font-size;
  line-height: $f7-font-size + 0.5rem;
}

.shadow-h,
.shadow--pop:hover,
.shadow--pop:focus {
  box-shadow: $shadow-higher-level;
}
.shadow-l,
.shadow--pop:active {
  box-shadow: $shadow-lower-level;
}

.shadow--pop {
  transition: all 0.2s linear;
  &:hover {
    transform: translate3d(0, -2px, 0);
  }
  &:active {
    transform: translate3d(0, -1px, 0);
  }
  &[disabled],
  &[readonly] {
    transform: none;
  }
}

.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tj {
  text-align: justify;
}
