@import './_mixins.scss';
@import './_variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}


$columns: 12;

%float-styles {
  float: left;
}

@mixin col-x {
  @for $i from 1 through $columns {
      .col-#{$i} { @extend %float-styles; }
      .col-#{$i} {
        flex: 0 0 percentage($i/$columns);
        max-width: percentage($i/$columns);
      }
  }
}

@include col-x;

@mixin col-sm-x {
  @for $i from 1 through $columns {
      .col-sm-#{$i} { @extend %float-styles; }
      .col-sm-#{$i} {
        @include sm-device {
          flex: 0 0 percentage($i/$columns);
          max-width: percentage($i/$columns);
        }
      }
  }
}

@include col-sm-x;

@mixin col-md-x {
  @for $i from 1 through $columns {
      .col-md-#{$i} { @extend %float-styles; }
      .col-md-#{$i} {
        @include md-device {
          flex: 0 0 percentage($i/$columns);
          max-width: percentage($i/$columns);
        }
      }
  }
}

@include col-md-x;

@mixin col-lg-x {
  @for $i from 1 through $columns {
      .col-lg-#{$i} { @extend %float-styles; }
      .col-lg-#{$i} {
        @include lg-device {
          flex: 0 0 percentage($i/$columns);
          max-width: percentage($i/$columns);
        }
      }
  }
}

@include col-lg-x;
